@font-face {
  font-family: 'Imp';
  src: url('fonts/impact/imp.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

$ebook_fondo: rgb(240,240,240);
$ebook_fondo_banner: #1C7276;
$ebook_titulos: rgb(26, 69, 72);
$ebook_textos: rgb(20, 20, 20);

#front-ebook
{
    background: url('imagenes/tmcBannerEbook.jpg') top no-repeat;
    background-size: 100%;
    margin-top: 120px;
    height: 280px;
    width: 100%;
}

#noticias.ebook
{
    background: $ebook_fondo;
}

#noticias.ebook .descripcion-ebook
{
    width: 100%;

    h1
    {
        width:70%;
        font-family:'Imp';
        text-align: left;
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: normal;
        padding-bottom: 30px;
        color: $ebook_titulos;
        padding-bottom: 5px;
    }

    h3
    {
        width: 50%;
        font-size: 1.2rem;
        font-style: italic;
        font-family: Arial;
        color: $ebook_textos;
        letter-spacing: normal;
    }

    div
    {
        width: 46%;
        float: left;
        padding: 0 2%;
    }

    .portada img
    {
        width: 100%;
        max-width: 250px;
        height: auto;
        padding-bottom: 30px;
    }

    .portada, .formulario, #errors
    {
        width: 100%;
        float: none;
    }

    p
    {
        font-family: 'Imp';
        text-align: left;
        color: $ebook_textos;
    }
}
